html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
    color: #050505;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.noScroll {overflow: hidden}

.flex {display: flex;}
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexSpaceb {
    display: flex;
    justify-content: space-between;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex3 {flex: 1;}
.flex3:hover {flex: 3;}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sansSerif {font-family: "DM Sans", sans-serif}
.semibold {font-weight: 600;}

h1 {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 1em;
}

p {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

.underline {
    border-bottom: 1px solid #050505;
}

.white {color: #fafafa}
.cream {color: #F2E6C2}
.yellow {color: #F2B749}
.orange {color: #F27405}
.red {color: #D92B2B}
.smoky {color: #0B0C0D}
.black {color: #050505}

.bWhite {background-color: #fafafa}
.bCream {background-color: #F2E6C2}
.bYellow {background-color: #F2B749}
.bOrange {background-color: #F27405}
.bRed {background-color: #D92B2B}
.bSmoky {background-color: #0B0C0D}
.bBlack {background-color: #050505}

.container {width: 80vw;}
.ratio1 {aspect-ratio: 1/1;}
.ratio45 {aspect-ratio: 4/5;}
.ratio54 {aspect-ratio: 5/4;}
.ratio169 {aspect-ratio: 16/9;}
.ratio916 {aspect-ratio: 9/16;}
.ratio369 {aspect-ratio: 36/9;}

.columns2 {columns: 2; gap: 0;}
.columns3 {columns: 3; gap: 0;}
.columns5 {columns: 5; gap: 0;}
.columns6 {columns: 6; gap: 0;}
.columns10 {columns: 10; gap: 0;}

.w15 {width: 15%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w70 {width: 70%;}
.w80 {width: 80%;}
.w85 {width: 85%;}
.w100 {width: 100%;}

.gap {gap: 30px;}
.padding {padding: 30px;}

.border {
    border: 1px solid #050505;
    border-radius: 12px;
    overflow: hidden;
}