body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
    color: #050505;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgI {
    height: 30%;
    width: auto;
    object-fit: cover;
}

.imgIa {
    height: 60%;
    width: auto;
    object-fit: cover;
}

.imgI2 {
    height: 36%;
    width: auto;
    object-fit: cover;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.noScroll {overflow: hidden}

.sansSerif {font-family: "DM Sans", sans-serif}
.semibold {font-weight: 600;}

h1 {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
}

h2 {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 1em;
}

h3 {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 0.8em;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
}

p {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}

td {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    transform: translateX(-2px);
}

.underline {
    border-bottom: 1px solid #050505;
}

.bWhite {background-color: #fafafa}
.bCream {background-color: #F2E6C2}
.bYellow {background-color: #FFA200}
.bOrange {background-color: #F27405}
.bRed {background-color: #D92B2B}
.bSmoky {background-color: #0B0C0D}
.bBlack {background-color: #050505}
.bBlue {background-color: #003366}
.bGradientgreenyellow {background-image: linear-gradient(to right, #146653, #FFA200);}

/* CONST */

:root {
    --container-width: 80vw;
}

.canvas {width: calc(var(--container-width) + 60px);}
.container {width: var(--container-width)}
.ratio1 {aspect-ratio: 1/1;}
.ratio45 {aspect-ratio: 4/5;}
.ratio54 {aspect-ratio: 5/4;}
.ratio169 {aspect-ratio: 16/9;}
.ratio916 {aspect-ratio: 9/16;}
.ratio219 {aspect-ratio: 21/9;}

.gap {gap: 30px;}
.gap15 {gap: 15px;}
.padding {padding: 30px;}
.padding15 {padding: 15px;}
.paddingLR {padding: 0 15px}

.border {
    border: 1px solid #050505;
    border-radius: 6px;
    overflow: hidden;
}

.borderH {
    border-bottom: 1px solid #050505;
    border-top: 1px solid #050505;
}

.border:hover{
    box-shadow: 2px 2px #050505;
}

.overflow {overflow: hidden;}
.hidden {display: none;}
.hidden:hover {display: block;}

.flex {display: flex;}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1;
    transition: flex 0.5s ease-in-out;
}

.flex1:Hover {
    flex: 2;
}

.flat {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 420px 240px 240px 180px 180fr 20px; */
    grid-template-areas:
    "   logoA   logoA   logoB   logoB   logoC   logoC   "
    "   sketch  sketch  sketch  motion  motion  motion  "
    "   fontP  fontP   colorP  colorP  colorP  colorP "
    "   fontP  fontP   colorS  colorS  colorS  colorS "
    "   assetH  assetH   asset   asset   asset   asset   "
    "   icon    icon    icon    icon    icon    icon    "
    "   iconP   iconP   iconP   iconP   iconP   iconP   "
    "   sample  sample  sample  sample  sample  sample  "
    ;
}

.cover  {grid-area: cover;}
.logoA  {grid-area: logoA;}
.logoB  {grid-area: logoB;}
.logoC  {grid-area: logoC;}
.colorP  {grid-area: colorP;}
.colorS  {grid-area: colorS;}
.assetH {grid-area: assetH;}
.asset {grid-area: asset;}
.fontP {grid-area: fontP;}
.fontS {grid-area: fontS;}
.icon {grid-area: icon;}
.sample {grid-area: sample;}
.motion {grid-area: motion;}
.sketch {grid-area: sketch;}
.iconP {grid-area: iconP;}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}