body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050505;
    color: #050505;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgIa {
    height: 60%;
    width: auto;
    object-fit: cover;
}


video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
}

p {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
}

td {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.6em;
    transform: translateX(-2px);
}

.bWhite {background-color: #fafafa}
.bCream {background-color: #F2E6C2}
.bYellow {background-color: #FFA200}
.bBlue {background-color: var(--blue)}
.bPeach {background-color: #FFCC99;}
.bGradientgreenyellow {background-image: linear-gradient(to right, #146653, #FFA200);}

/* CONST */

:root {
    --container-width: 80vw;

    /* COLOR PALETTE */
    --blue: #003366;
    --orange: #FF6633;
    --white: #FAFAFA;
    --black: #050505;
    --green: #146653;
    --yellow: #FFA200;
    --red: #970000;
    --peach: #FFCC99;
    --brown: #663300;

    /* RULES */
    --border: 1px solid #050505;
    --border-radius: 12px;
    --gap: 42px;
}

.canvas {width: calc(var(--container-width) + 60px);}
.container {width: var(--container-width)}
.ratio1 {aspect-ratio: 1/1;}
.ratio169 {aspect-ratio: 16/9;}
.ratio219 {aspect-ratio: 21/9;}

.gap {gap: var(--gap);}
.gap15 {gap: 15px;}
.padding {padding: 30px;}
.padding15 {padding: 15px;}

.border {
    border: 1px solid #050505;
    border-radius: 6px;
    overflow: hidden;
}

.border:hover{
    box-shadow: 2px 2px #050505;
}

.overflow {overflow: hidden;}

.flex {display: flex;}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1;
    transition: flex 0.5s ease-in-out;
}

.flex1:Hover {
    flex: 2;
}

.flat {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "   logoH   logo   logo   logo   logo   logo   "
    "   logoH   logo2  logo2  logo2  logo2  logo2  "
    "   fontP  fontP   colorP  colorP  colorP  colorP "
    "   fontP  fontP   colorS  colorS  colorS  colorS "
    "   assetH  assetH   asset   asset   asset   asset   "
    "   icon    icon    icon    icon    icon    icon    "
    "   iconP   iconP   iconP   iconP   iconP   iconP   "
    "   sample  sample  sample  sample  sample  sample  "
    ;
}

.colorP  {grid-area: colorP;}
.colorS  {grid-area: colorS;}
.assetH {grid-area: assetH;}
.asset {grid-area: asset;}
.fontP {grid-area: fontP;}
.icon {grid-area: icon;}
.sample {grid-area: sample;}

.iconP {grid-area: iconP;}

.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ------------------------------------------------------------------ */

.logoH {grid-area: logoH;}
.logoP {grid-area: logoP;}
.logoS {grid-area: logoS;}
.logoM {grid-area: logoM;}

.logo {
    grid-area: logo;
    columns: 3;
    gap: var(--gap);
}

.logo > div > p {margin-bottom: 15px;}

.logoP > div, .logoS > div, .logoM > div {
    background-color: var(--white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px #050505;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoP > div > img, .logoS > div > img, .logoM > div > img {
    height: 36%;
    width: auto;
}

/* ------------------------------------------------------------------ */

.sketch {grid-area: sketch;}
.motion {grid-area: motion;}

.logo2 {
    grid-area: logo2;
    columns: 2;
    gap: var(--gap);
}

.logo2 > div > p {margin-bottom: 15px;}

.sketch > div, .motion > div {
    background-color: var(--black);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px #050505;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* ------------------------------------------------------------------ */