html {
    background-color: #050505;
    display: flex;
    justify-content: center;
}

.index {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 375px;
    display: grid;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "header header header"
                         "tab tab tab "
                         "main main main"
                         "main main main"
                         "main main main"
                         "main main main"
                         "main main main";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 42px 125px 83px 42px 125px 125px 125px 125px 125px;
}

nav {
    grid-area: nav;
    background-color: #050505;
    margin: 0;
    padding: 0;
    gap: 9px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 375px;
    z-index: 1000;
}

.ButtonNav {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    width: 42px;
}

.ButtonNav:hover {
    background-color: #ffa200;
}

.IconLogo {
    background-color: transparent;
    margin: 0;
    padding: 9px;
    fill: #fafafa;
    width: 24px;
    height: 24px;

    transition: transform 0.3s ease-in;
}

.IconLogo:hover {
    fill: #050505;
}

.spin {
    animation: spin 0.2s linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.Logo {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 291px;
    color: #fafafa;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.1em;
}


header {
    grid-area: header;
    background-color: #fafafa;
    margin: 0;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.profile {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.PhotoProfile {
    background-color: transparent;
    width: 102px;
    height: 102px;
    border: #050505 2px solid;
    border-radius: 12px;
    overflow: hidden;
}

.PhotoProfile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.NameTitleContact{
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    background-color: transparent;
    color: #050505;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.title {
    background-color: transparent;
    color: #050505;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.contact {
    background-color: transparent;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 3px;
    border-radius: 12px;
}

.ButtonContact {
    background-color: #050505;
    margin: 0;
    padding: 9px 0;
    width: 108px;
    color: #fafafa;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 15;
    border: none;
    border-radius: 6px;
}

.ButtonContact:hover {
    background-color: #ffa200;
    color: #050505;
}

.bio {
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #050505;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.tab {
    grid-area: tab;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly
}

.ButtonTab {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    fill: #fafafa;
    width: 125px;
}

.ButtonTab:hover {
    fill: #ffa200;
    border-bottom: 3px solid #ffa200;
}

main {
    grid-area: main;
    background-color: transparent;
    width: 100%;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.Gallery1 {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
}

#gallery1-1 {
    cursor: pointer;
}

.gallery1-1 {
    background-color: #fafafa;
    aspect-ratio: 1/1;
}

.BodyGallery1-1 {
    color: #fafafa;
}

.Gallery2 {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
}

.Gallery2-1 {
    background-color: #999;
    aspect-ratio: 1/1;
}

.Gallery3 {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 375px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2px;
}

.Gallery3-1 {
    background-color: #777;
    aspect-ratio: 1/1;
}

.BodyPin {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: fit-content;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.PinContainer {
    background-color: transparent;
    text-align: center;
}

#PinInput {
    width: 300px;
    padding: 20px;
    padding-bottom: 18px;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    text-align-last: center;
    margin-bottom: 30px;
    color: #ffa200;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ffa200 ;
    letter-spacing: 10px;
}

#PinInput::placeholder {
    color: #ffa200;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    opacity: 1;
}

#Numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: transparent;
    justify-content: center;
}

#Numpad button {
    width: 96px;
    height: 96px;
    padding: 0px;
    font-size: 3em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #ffa200;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa200;
    fill: #ffa200;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ButtonEnter:active {
    transform: rotate(1440deg);
}

#Numpad button:hover {
    background-color: #ffa200;
    color: #050505;
    fill: #050505;
}

.IconEnter {
    width: 54px;
    height: 54px;
}

.IconDelete {
    width: 60px;
    height: 60px;
}

#ErrorMessage {
    color: #ffa200;
    margin-top: 20px;
}

.Hidden {
    display: none;
}

h1 {
    color: #fafafa;
}