@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1703 0.0038 164.5412);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1703 0.0038 164.5412);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1703 0.0038 164.5412);
  --primary: oklch(0.7428 0.1808 55.6057);
  --primary-foreground: oklch(0.1703 0.0038 164.5412);
  --secondary: oklch(0.7428 0.1808 55.6057);
  --secondary-foreground: oklch(0.1703 0.0038 164.5412);
  --muted: oklch(0.7428 0.1808 55.6057);
  --muted-foreground: oklch(0.3710 0 0);
  --accent: oklch(0.9863 0.0353 101.8308);
  --accent-foreground: oklch(0.1703 0.0038 164.5412);
  --destructive: oklch(0.7996 0.2460 145.5331);
  --destructive-foreground: oklch(0.7996 0.2460 145.5331);
  --border: oklch(0.1703 0.0038 164.5412);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.1703 0.0038 164.5412);
  --chart-1: oklch(1.0000 0 0);
  --chart-2: oklch(0.1703 0.0038 164.5412);
  --chart-3: oklch(0.7428 0.1808 55.6057);
  --chart-4: oklch(0.7302 0.1335 220.6137);
  --chart-5: oklch(0.7996 0.2460 145.5331);
  --sidebar: oklch(0.9863 0.0353 101.8308);
  --sidebar-foreground: oklch(0.1703 0.0038 164.5412);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0.1703 0.0038 164.5412);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.1703 0.0038 164.5412);
  --sidebar-border: oklch(0.1703 0.0038 164.5412);
  --sidebar-ring: oklch(0.1703 0.0038 164.5412);
  --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Libertinus Serif, ui-serif, serif;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --radius: 0.375rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #0e100f;
  --shadow-2xs: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 0.50);
  --shadow-xs: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 0.50);
  --shadow-sm: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 1px 2px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 1px 2px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-md: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 2px 4px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-lg: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 4px 6px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-xl: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 8px 10px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-2xl: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1703 0.0038 164.5412);
  --foreground: oklch(0.9863 0.0353 101.8308);
  --card: oklch(0.1703 0.0038 164.5412);
  --card-foreground: oklch(0.9863 0.0353 101.8308);
  --popover: oklch(0.1703 0.0038 164.5412);
  --popover-foreground: oklch(0.9863 0.0353 101.8308);
  --primary: oklch(0.7428 0.1808 55.6057);
  --primary-foreground: oklch(0.1703 0.0038 164.5412);
  --secondary: oklch(0.9863 0.0353 101.8308);
  --secondary-foreground: oklch(0.1703 0.0038 164.5412);
  --muted: oklch(0.2050 0 0);
  --muted-foreground: oklch(0.7090 0.0100 56.2590);
  --accent: oklch(0.2690 0 0);
  --accent-foreground: oklch(0.9863 0.0353 101.8308);
  --destructive: oklch(0.7996 0.2460 145.5331);
  --destructive-foreground: oklch(0.7996 0.2460 145.5331);
  --border: oklch(0.2690 0 0);
  --input: oklch(0.1703 0.0038 164.5412);
  --ring: oklch(0.2690 0 0);
  --chart-1: oklch(0.9863 0.0353 101.8308);
  --chart-2: oklch(0.1703 0.0038 164.5412);
  --chart-3: oklch(0.7428 0.1808 55.6057);
  --chart-4: oklch(0.7302 0.1335 220.6137);
  --chart-5: oklch(0.7996 0.2460 145.5331);
  --sidebar: oklch(0.2050 0 0);
  --sidebar-foreground: oklch(0.9863 0.0353 101.8308);
  --sidebar-primary: oklch(0.2050 0 0);
  --sidebar-primary-foreground: oklch(0.9863 0.0353 101.8308);
  --sidebar-accent: oklch(0.1703 0.0038 164.5412);
  --sidebar-accent-foreground: oklch(0.9863 0.0353 101.8308);
  --sidebar-border: oklch(0.2690 0 0);
  --sidebar-ring: oklch(0.2690 0 0);
  --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Libertinus Serif, ui-serif, serif;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --radius: 0.375rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: #0e100f;
  --shadow-2xs: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 0.50);
  --shadow-xs: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 0.50);
  --shadow-sm: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 1px 2px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 1px 2px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-md: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 2px 4px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-lg: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 4px 6px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-xl: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 1.00), 2px 8px 10px -1px hsl(150 6.6667% 5.8824% / 1.00);
  --shadow-2xl: 2px 2px 0px 0px hsl(150 6.6667% 5.8824% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply text-foreground border-border outline-ring/50 scroll-smooth focus:outline-none;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    *::-webkit-scrollbar {
        display: none;
    }
    *:not(div):not(span) {
        @apply duration-300 ease-in-out
    }
    body {
        @apply bg-background;
    }
    main {
        @apply max-w-7xl mx-auto flex flex-col gap-2 px-2 md:gap-4 md:px-4;
    }
    section {
        @apply flex flex-col overflow-hidden gap-4 p-4 border shadow rounded-lg;
    }
    button {
        @apply inline-flex justify-center items-center p-2 md:p-4 border shadow shrink-0 rounded-lg bg-secondary text-chart-2 cursor-pointer hover:bg-muted-foreground;
    }
    video, img {
        @apply w-full h-full object-cover place-self-center cursor-pointer;
    }
    summary {
        list-style: none;
    }
    summary::-webkit-details-marker {
        display: none;
    }
    h1 {
        @apply text-4xl md:text-7xl font-bold tracking-tight;
    }
    h2 {
        @apply text-lg md:text-2xl font-bold;
    }
    h3, a, button {
        @apply text-sm md:text-base font-bold;
    }
    p, label, input, textarea {
        @apply text-sm md:text-base font-normal text-muted-foreground;
    }
}