<footer class="rahmadipTheme w-screen">
  <div class="mx-auto max-w-screen-xl barHFooter flex flex-col lg:flex-row justify-center lg:justify-between items-center gap-2">
    <p id="copyright"><span id="currentYear"></span></p>
    <div class="flex">
      <a class="textPDesc paddingX place-content-center transitionOpacity" href="../index.html">Home</a>
      <a class="textPDesc paddingX place-content-center transitionOpacity" href="../index.html#searchBar">Projects</a>
      <a class="textPDesc paddingX place-content-center transitionOpacity" href="../profile/profile.html">Profile</a>
    </div>
  </div>
</footer>