<header class="rahmadipTheme w-screen">
  <div class="mx-auto max-w-screen-xl barHHeader flexBetween">
    <a class="aspect-square w-fit h-full lg:hidden flexCenter transitionOpacity" id="backLink" href="javascript:history.back()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="flexCenter w-auto h-5 object-cover" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
    </a>
    <a class="paddingX" href="../index.html">
      <img class="rahmadipLogo object-cover" src="../image/favfullicon.svg" alt="rahmadip logo">
    </a>
    <div id="menuIcon" class="aspect-square w-fit h-full lg:hidden flexCenter text-3xl sm:text-4xl transitionOpacity">⋯</div>
    <div class="hidden lg:flex">
      <a class="textPDesc paddingX place-content-center transitionOpacity" href="../index.html">Home</a>
      <a class="textPDesc paddingX place-content-center transitionOpacity" href="../index.html#searchBar">Projects</a>
      <a class="textPDesc paddingX place-content-center transitionOpacity" href="../profile/profile.html">Profile</a>
    </div>
  </div>
</header>

<div id="menuTab" class="fixed mt-2 end-2 w-48 textPDesc border rahmadipRounded rahmadipTheme overflow-hidden hidden lg:hidden">
  <a class="rahmadipTheme transitionOpacity transitionColor block paddingXY" href="../index.html">Home</a>
  <a class="rahmadipTheme transitionOpacity transitionColor block paddingXY border-y" href="../index.html#searchBar">Projects</a>
  <a class="rahmadipTheme transitionOpacity transitionColor block paddingXY" href="../profile/profile.html">Profile</a>
</div>