  <div id="modalBg" class="fixed inset-0 z-50 grid place-content-center bg-black/95 p-8 hidden" role="dialog" aria-modal="true" aria-labelledby="modalBg">
    <div id="modalCanvas" class="w-full max-w-xl lg:max-w-6xl grid grid-cols-1 lg:grid-cols-8 rounded-lg overflow-hidden bg-white shadow-lg">

      <div id="modalHead" class="col-span-1 lg:col-span-8 flex justify-between items-center p-4 border-0 lg:border-b-1 border-gray-300">
        <div class="grid grid-rows-2 grid-cols-4">
          <div class="row-span-2 col-span-1 aspect-square rounded-full place-content-center overflow-hidden size-10 bg-black"><img class="w-full h-full object-cover" src="/components/rahmadipPP.jpg" alt="rahmadipPP"></div>
          <h6 class="row-span-1 col-span-3 font-bold text-sm leading-normal">Fauzi Rahmadi Primanto</h6>
          <h6 class="row-span-1 col-span-3 font-normal text-sm leading-none text-gray-500">rahmadip</h6>
        </div>
        <button id="modalClose" type="button" class="cursor-pointer size-6 text-gray-300 hover:text-black" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="square" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <a id="modalCover" href="" class="col-span-1 lg:col-span-5 overflow-hidden flex justify-center items-center bg-black">
        <img class="w-full h-auto object-cover" src="" alt="">
      </a>
      <div id="modalDesc" class="col-span-1 lg:col-span-3 p-4 lg:p-6 flex flex-col gap-1 lg:gap-4">
        <h6 id="modalDescTitle" class="font-bold text-lg tracking-normal leading-normal"></h6>
        <p id="modalDescInfo" class="font-normal text-xs tracking-normal leading-normal text-gray-500 text-pretty"></p>
        <a id="modalDescDetails" class="font-normal text-xs tracking-normal leading-normal text-gray-500 text-pretty hover:text-black" href="">more details ...</a>
      </div>
    </div>
  </div>