  <div id="modalBg" class="fixed inset-0 z-50 grid place-content-center transition bg-neutral-50 dark:bg-neutral-950" role="dialog" aria-modal="true" aria-labelledby="modalBg">
    <div id="modalCanvas" class="w-full max-w-xs sm:max-w-2xl lg:max-w-4xl grid grid-cols-1 lg:grid-cols-8 rounded-lg overflow-hidden transition-all bg-neutral-50 dark:bg-neutral-950 border border-neutral-950/20 dark:border-neutral-50/20 shadow-sm shadow-neutral-950/5 dark:shadow-neutral-50/5">

      <div id="modalHead" class="col-span-1 lg:col-span-8 flex justify-between items-center p-4 transition-all border-b-0 lg:border-b border-neutral-950/20 dark:border-neutral-50/20">
        <div class="flex items-center gap-2">
          <div class="aspect-square rounded-full flex justify-center items-center overflow-hidden size-10 border border-neutral-950/20 dark:border-neutral-50/20">
            <img class="w-1/2 h-1/2 object-cover block dark:hidden" loading="lazy" src="/src/components/favicon-dark.svg" alt="rahmadipPP">
            <img class="w-1/2 h-1/2 object-cover hidden dark:block" loading="lazy" src="/src/components/favicon-light.svg" alt="rahmadipPP">
          </div>
          <div>
            <h6 class="font-bold text-xs tracking-wide leading-none text-neutral-950 dark:text-neutral-50">Fauzi Rahmadi Primanto</h6>
            <h6 class="font-normal text-xs tracking-wide leading-none text-neutral-950 dark:text-neutral-50">rahmadip</h6>
          </div>
        </div>
        <button id="modalClose" type="button" class="cursor-pointer size-6 text-neutral-950 dark:text-neutral-50 opacity-20 transition-opacity hover:opacity-75" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="square" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>

      <div id="modalCover" class="col-span-1 lg:col-span-5 overflow-hidden flex justify-center items-center relative">
        <div id="carouselImages" class="w-full h-full flex justify-center items-center"></div>
        <div id="carouselDots" class="absolute bottom-3 flex gap-1 lg:gap-2"></div>
      </div>

      <div id="modalDesc" class="col-span-1 lg:col-span-3 p-4 flex flex-col gap-1 lg:gap-4">
        <h6 id="modalDescTitle" class="font-bold text-lg lg:text-xl tracking-normal leading-normal text-pretty text-neutral-950 dark:text-neutral-50"></h6>
        <p id="modalDescInfo" class="font-normal text-xs lg:text-sm tracking-wide leading-normal text-pretty text-neutral-950/60 dark:text-neutral-50/60"></p>
        <a id="modalDescDetails" class="font-medium text-xs tracking-widest leading-normal text-pretty text-neutral-950 dark:text-neutral-50 opacity-75 transition-opacity hover:opacity-100" target="_blank" href="">more details ...</a>
      </div>
    
    </div>
  </div>