---
import Divider from '../base/Divider.astro';
---

<section class='gap-19'>
    <div id="headProfile">
        <div id="bannerContainer"></div>
        <div id="avatarContainer"></div>
    </div>
    <div class="flex flex-col gap-4">
        <div>
            <h2 id="name"></h2>
            <p id="occu"></p>
        </div>
        <Divider />
        <p id="abou"></p>
        <div id="cont"></div>
    </div>
</section>

<script>
    import { get, find, filter } from "@/lib/fetch";

    const dataProfile = await get('rahmadip');
    if (dataProfile) {
        const headProfile:any = document.getElementById('headProfile');
        headProfile.className = '-m-4 flex flex-col justify-end';

        const bannerContainer = document.getElementById('bannerContainer');
        if (bannerContainer) {
            bannerContainer.className = 'aspect-3/1 flex justify-center items-center overflow-hidden border-b';

            const banner =  document.createElement('img');

            const dataBanner = find(dataProfile, 'section', 'banner').value;
            if (dataBanner) {
                banner.src = dataBanner;
            } else {
                banner.src = '/banner.webp';
            }

            banner.alt = 'banner rahmadip';
            banner.loading = 'eager';
            banner.fetchPriority = 'high';
            banner.crossOrigin = 'anonymous';
            banner.className = 'min-w-full min-h-full'

            bannerContainer.appendChild(banner);
        }
        
        const avatarContainer = document.getElementById('avatarContainer');
        if (avatarContainer) {
            avatarContainer.className = 'aspect-square size-26 flex justify-center items-center overflow-hidden mx-4 rounded-full border translate-y-1/2 absolute bg-background';

            const avatar = document.createElement('img');

            const dataAvatar = find(dataProfile, 'section', 'avatar').value;
            if (dataAvatar) {
                avatar.src = dataAvatar;
            } else {
                avatar.src = '/avatar.svg'
            }

            avatar.alt = 'avatar rahmadip';
            avatar.loading = 'eager';
            avatar.fetchPriority = 'high';
            avatar.crossOrigin = 'anonymous';
            avatar.className = 'min-w-full min-h-full'

            avatarContainer.appendChild(avatar);
        }

        const name:any = document.getElementById('name');
        name.innerHTML = find(dataProfile,'section','name').value || 'Fauzi Rahmadi Primanto';

        const occu:any = document.getElementById('occu');
        occu.innerHTML = find(dataProfile,'section','occupation').value || 'Graphic Designer';

        const abou:any = document.getElementById('abou');
        abou.innerHTML = find(dataProfile,'section','about').value || 'About me.';

        const cont:any = document.getElementById('cont');
        cont.className = 'flex gap-2 md:gap-4';
        const contacts = filter(dataProfile,'type','contact');
        contacts.forEach((contact:any) => {
            const a = document.createElement('a');
            a.href = contact.value;
            a.target = '_blank';
            a.rel = 'noopener noreferrer';
            a.ariaLabel = contact.section;

            const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
            svg.classList.value = 'size-9 fill-foreground border rounded-lg shadow hover:bg-secondary hover:fill-secondary-foreground';
            svg.setAttribute('viewBox', contact.viewbox);
            svg.setAttribute('role', 'img');

            const path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            path.setAttribute('d', contact.path);
            
            svg.appendChild(path);
            a.appendChild(svg);
            cont.appendChild(a);
        });
    }
</script>