---
import Divider from "@/base/Divider.astro"
---

<section>
    <div>
        <h2>Projects</h2>
        <p>Some of my projects</p>
    </div>
    <Divider/>
    <div id="sideProjectsContainer"></div>
</section>

<script>
    import { get } from "@/lib/fetch";

    const urlParams = new URLSearchParams(window.location.search);
    const path = urlParams.get('path') || 'a18093bf-fe8a-45d6-b085-8eea76e009e1';

    const sideProjectsContainer:any = document.getElementById('sideProjectsContainer');
    sideProjectsContainer.className = 'flex flex-col divide-y -my-2';

    const projects:any = await get(`projects/${path}/neq`);
    if (projects) {
        projects.forEach((project:any) => {
            const projectA = Object.assign(
                document.createElement('a'), {
                    href: `/project/?path=${project.path}`,
                    className: 'flex items-center gap-2 py-2',
                    rel: 'noopener noreferrer',
                    ariaLabel: project.title
                }
            )
            const thumbCont = Object.assign(
                document.createElement('div'), {
                    className: 'size-15 overflow-hidden flex justify-center items-center rounded-lg border'
                }
            )
            if (project.thumbnail) {
                const urlThumbnail = project.thumbnail;
                const extension = urlThumbnail.split('.').pop().toLowerCase();

                if (['mp4', 'webm'].includes(extension)) {
                    const videoElement = document.createElement('video');
                    videoElement.src = urlThumbnail;
                    videoElement.autoplay = true;
                    videoElement.loop = true;
                    videoElement.muted = true;
                    videoElement.playsInline = true;

                    const track = document.createElement('track');
                    track.kind = 'captions';
                    track.label = 'No captions';
                    track.default = true;
                    
                    videoElement.appendChild(track);
                    thumbCont.appendChild(videoElement);
                } else {
                    const webElement = document.createElement('img');
                    webElement.src = urlThumbnail;
                    webElement.alt = `Thumbnail ${project.title}`;
                    webElement.loading = 'lazy';
                    thumbCont.appendChild(webElement);
                }
            } else {
                const errorElement = document.createElement('img');
                errorElement.src = './public/avatar.svg';
                errorElement.alt = `Thumbnail ${project.title}`;
                errorElement.loading = 'lazy';
                thumbCont.appendChild(errorElement);
            }
            const projectCont = Object.assign(
                document.createElement('div'), {
                    className: 'flex flex-col justify-center items-start flex-1'
                }
            )
            const projectTitle = Object.assign(
                document.createElement('h3'), {
                    innerHTML: project.title
                }
            )
            const projectType = Object.assign(
                document.createElement('p'), {
                    innerHTML: project.type
                }
            )
            projectCont.append(projectTitle,projectType);
            projectA.append(thumbCont,projectCont);
            sideProjectsContainer?.append(projectA)
        });
    }
</script>