@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {}

@layer utilities {
  .deafultHtml {margin: 0 !important; height: 100% !important; overflow-y: scroll !important; scroll-behavior: smooth !important; scrollbar-width: none !important; -ms-overflow-style: none !important;}
  .deafultBody {margin: 0 !important; min-height: 100vh !important; overflow-y: scroll !important; -webkit-overflow-scrolling: touch !important; scrollbar-width: none !important; -ms-overflow-style: none !important;}
  .deafultHtml::-webkit-scrollbar, .deafultBody::-webkit-scrollbar {display: none !important; width: 0 !important; height: 0 !important; background: transparent !important;}
  .no-scrollbar::-webkit-scrollbar {display: none;}
  .no-scrollbar {-ms-overflow-style: none; scrollbar-width: none;}
}

@layer components {
    .rahmadipTheme      {@apply bg-neutral-950 text-neutral-50 fill-neutral-50 border-neutral-50/30 divide-neutral-50/30 shadow-neutral-950 font-jakarta;}
    .rahmadipLogo       {@apply h-7 lg:h-8 w-auto;}
    .rahmadipLogoMini   {@apply animate-spin size-12 sm:size-18 lg:size-90}
    .rahmadipRounded    {@apply rounded-md;}

    .forLandscape       {@apply hidden lg:block;}
    .forPotrait         {@apply block lg:hidden;}
    
    .textH1Index        {@apply text-base sm:text-xl   lg:text-xl   text-center lg:text-start font-mono      tracking-normal leading-normal;}
    .textH2Tagline      {@apply text-5xl  sm:text-7xl  lg:text-7xl  text-center lg:text-start font-bold      tracking-normal leading-none  ;}
    .textH1Title        {@apply text-xs   sm:text-base lg:text-sm   text-start  lg:text-start font-semibold  tracking-wide   leading-normal;}
    .textH2Title        {@apply text-xs   sm:text-base lg:text-sm   text-start  lg:text-start font-semibold  tracking-wide   leading-normal;}
    .textH3Title        {@apply text-xs   sm:text-base lg:text-sm   text-start  lg:text-start font-semibold  tracking-wide   leading-normal;}
    .textPDesc          {@apply text-xs   sm:text-base lg:text-sm   text-start  lg:text-start font-normal    tracking-wide   leading-normal;}

    .iconSize           {@apply w-9 h-9;}
    .iconLoading        {@apply w-auto h-9 mx-auto my-auto animate-spin}

    .barHHeader         {@apply h-16;}
    .barHFooter         {@apply h-20 lg:h-16;}
    
    .paddingX           {@apply px-4;}
    .paddingY           {@apply py-3;}
    .paddingT           {@apply pt-4;}
    .paddingB           {@apply pb-4;}
    .paddingXY          {@apply px-4 py-4;}

    .transitionOpacity  {@apply transition duration-300 ease-in-out opacity-30 hover:opacity-100 active:opacity-100 cursor-pointer;}
    .transitionOpacityR {@apply transition duration-300 ease-in-out opacity-100 hover:opacity-30 active:opacity-30 cursor-pointer;}
    .transitionColor    {@apply transition duration-300 ease-in-out hover:text-neutral-950 hover:bg-neutral-50 active:text-neutral-950 active:bg-neutral-50;}
    .transitionBnW      {@apply transition duration-300 ease-in-out grayscale-0 hover:grayscale-100 active:grayscale-100 cursor-pointer;}

    .flexStart          {@apply flex justify-start items-center;}
    .flexEnd            {@apply flex justify-end items-center;}
    .flexBetween        {@apply flex justify-between items-center;}
    .flexCenter         {@apply flex justify-center items-center;}
}