body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.no-scroll {
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1 {
    margin: 0;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 16px 20px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

h3 {
    margin: 0;
    padding: 16px 20px;
    padding-bottom: 0;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 8px 20px;
    padding-bottom: 16px;
    font-size: 1em;
    cursor: pointer;
}

/* NAVIGATION BAR */

nav {
    background-color: #050505;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    width: 100vw;
}

.LogoContainer {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 7px;
    margin-left: 2vw;
}

@keyframes moveIcon {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(36px,36px);
    }
    51% {
        transform: translate(-36px,-36px);
    }
    100% {
        transform: translate(0,0);
    }
}

.animate .LogoIcon {
    animation: moveIcon 0.4s ease-in-out
}

.CircleWrapper {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fd7c0f;
}

.LogoType {
    fill: #fafafa;
    width: auto;
    height: 24px;
    transform: translateY(2px);
}

/* MODAL PASSWORD */

.modal-content {
    background-color: #fd7c0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 60px);
}

.modal-content > input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: 1px solid #050505;
    border-radius: 6px;
    height: 1.2em;
    color: #050505;
    font-size: 1.2em;
    padding: 6px;
    transform: translateY(-30px);
    width: 300px;
}

.modal-content > input::placeholder {
    color: #050505;
    font-size: 0.9em;
}

.modal-content > p {
    transform: translateY(36vh);
}

/* FOLDER */

.MainContent {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 14px;
    width: 94vw;
}

.folder {
    background-color: #050505;
    color: #fafafa;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}

.subfolder, .content {
    background-color: #f0f0f0;
    color: #050505;
    cursor: pointer;
    border-top: 1px solid #050505;
}

.subfolder > div :hover {
    filter: brightness(80%);
}

.sub1 {
    background-color: #7D3C07;
}

.sub2 {
    background-color: #B0550B;
}

.sub3 {
    background-color: #E36E0E;
}

.sub4 {
    background-color: #FD7C0F;
}

.hidden {
    display: none;
}